/**
*
* BuddyPress Specific CSS for Front End Form on Profiles
*
**/
#buddypress,.secondary-inner>a img{position:unset !important; }

ul.product_images.ui-sortable li img {
    width: 100px;
    height: 100px;
}

.bf-hidden, #sub_nav_hidden {
    display: none;
}

#buddypress #buddyforms-form textarea,
#buddypress #buddyforms-form .form-control {
    width: 100%;
    background: #fff;
}

/* BuddyPress Select2 Fix */
#buddypress #buddyforms-form .select2-container-multi .select2-choices .select2-search-field input {
    border: 0;
}

/** Loop Table View in BuddyPress Profiles  **/
@media (min-width: 768px) {
    #buddyforms-table-view .table tbody td {
        padding: 25px 9px;
        vertical-align: top;
    }

    #buddyforms-table-view .table.table-inner .tr-sub td {
        padding: 10px 9px;
    }
}

/** Other Fixes & Additions **/

#sub_nav_edit, #sub_nav_edit-personal-li {
    display: none !important;
}

#sub_nav_delete, #sub_nav_delete-personal-li {
    display: none !important;
}

#sub_nav_revison, #sub_nav_revison-personal-li {
    display: none !important;
}

#sub_nav_page, #sub_nav_page-personal-li {
    display: none !important;
}

#buddypress .the_buddyforms_form form fieldset {
   border: 0;
   padding: 0;
   width: 100%;
   max-width: 100%;
   min-width: 100%;
}

#buddypress .standard-form .bf_field_group.bf-input .form-control.error {
	background-color: #fdc;
	border: 1px solid #a00;
	clear: left;
	color: #800;
}
