ul.buddyforms-list.item-list li div.item-desc {
	font-size: 100%;
	margin: 10px 0 0 0px !important;
	width: 50%;
	margin: 5px 5px 5px 0;
	clear: right;
}
.item-status {
	padding: 3px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	color: white;
	background: #555555;
	font-size: 11px;
	float: right;
	margin-left: 5px;
	text-shadow: -1px -1px 0px #333;
}
.publish .item-status { background: green; } 
.pending .item-status { background: orange; }
.draft .item-status { background: red; }

#sub_nav_edit{
	display:none !important;
}
#sub_nav_delete{
	display:none !important;
}
#sub_nav_revison{
	display:none !important;
}